* {
    margin: 0;
    
    box-sizing: border-box;
}

body {
    font-family: Kumbh Sans, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 12%;
    margin-right: 12%;
    align-items: center;
    background-color: white;
}
.header-part-1{
    display: flex;
    justify-content: center;
    align-items: center; /* Align items vertically in the center */
    justify-items: center;
    gap: 30px;

}
.header-part-2{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 50px;
    position: relative;
    
}


.menu-button {
    display: none;
    margin: 0; /* Remove any margin */
    padding: 0; 
    left: 0; 
}

.sidebar{
    display: none;
}


.item-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 14px;
   
    background-color: hsl(26, 100%, 55%);
    border-radius: 50%;
    position: absolute;
    right: 96px;
    top: 5px;
}
#item-count{
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    margin-left: 3px;
    
    
}
hr{
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    
}
.logo {
    margin-right: 30px;
    
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: hsl(220, 14%, 75%);
    font-weight: 400;
    position: relative;
}


.cart {
    position: relative;
    margin-top: 13px;
    
    
    
}
#cart-image{
    width: 40px;
    border-radius: 5px;
}

#delete-btn{
    width: 10px;
    background-color: hsl(0, 0%, 100%);
    border: none;
}
#deleteIcon{
    width: 15px;
}
.cart-stat-sum p{
    font-weight: 500;
    color:hsl(220, 14%, 75%);
    
}
.cart-together{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cart-heading{
    font-weight: 700;
    justify-content: left;
    margin-left: 10px;
    line-height: 3.0;
}
#checkout-btn{
    margin-left: 10px;
    border-radius: 5px;
    width: 97%;
    background-color: hsl(26, 100%, 55%);
    border: none;
    margin-top: 20px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
}
.price{
    font-weight: 700;
}
.cart-dropdown {
    display: none;
    position: absolute;
    top: 59px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
    height: 200px;
    text-align: left;
}
.cart-dropdown hr{
    width: 100%;
}

.cart:hover .cart-dropdown {
    display: block;
}

.cart img {
    width: 24px;
}
.cart:hover{
    cursor: pointer;
}
.user-profile{
    width: 50px;
    border-radius: 50%;
}
.user-profile img {
    width: 100%;
}
.user-profile:hover {
    
    border: 2px solid hsl(25, 69%, 55%);
    cursor: pointer;
}


.product {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 15%;
    margin-right: 12%;
}
.main-image{
    width: 70%;
    height: 450px;
    border-radius: 20px;
}
.main-image img{
    
    width: 100%;
}
.product-image {
    width: 50%;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.thumbnails img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}
.thumbnail.active {
    opacity: 0.3; 
    border: 3px solid hsl(26, 100%, 55%); 
    
  }
  .thumbnail:hover{
    opacity: 0.6;
  }

.product-details {
    width: 40%;
    margin-right: 10%;
}
.product-details h4{
    font-size: 16px;
    margin-bottom: 18px;
    color: hsl(220, 14%, 75%);
}

.product-details h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.0;
    margin-bottom: 40px;
}

.product-description {
    margin-bottom: 20px;
    color: hsl(220, 14%, 75%);
    line-height: 1.4;
    margin-bottom: 35px;
}

.price {
    
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 11px;
    color: hsl(219, 9%, 45%);
}

.current-price {
    font-size: 30px;
    color: hsl(0, 0%, 0%);
    margin-right: 10px;
    
}

.discount {
    background-color: hsl(0, 0%, 0%);
    font-size: 16px;
    width: 20px;
    color: white;
    padding: 2px 7px;
    border-radius: 5px;
}


.original-price {
    font-size: 20px;
    text-decoration: line-through;
}

.quantity-selector-main{
    display: flex;
    gap: 20px;
}
.quantity-selector {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 0;
}

.quantity-selector button {
    background-color: hsl(223, 64%, 98%);
    width: 60px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    font-weight: 400;
    border:none;
    border-radius: 10px;
}

.quantity-selector input {
    background-color: hsl(223, 64%, 98%);
    border:none;
    width: 50px;
    height: 50px;
    text-align: center;
    
}

.add-to-cart {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 250px;
    height: 50px;
    gap: 20px;
    font-size: 16px;
    padding-top: 15px;

    background-color: hsl(26, 100%, 55%);
    border: none;
    color: hsl(220, 13%, 13%);
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.add-to-cart:hover{
    opacity: 0.8;
}
.add-to-cart img{
    width: 18px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}


.carousel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Reduce opacity of background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carousel img {
    width: 25%; /* Increase image width for better visibility */
    max-width: 800px;
    display: block;
    border-radius: 10px;
}

.close {
    width: 5%;
    position: absolute;
    top: 11%;
    right: 33.8%;
    cursor: pointer;
    
}
.close img:hover {
    filter: brightness(0) saturate(20%) invert(14%) sepia(52%) saturate(5028%) hue-rotate(3deg) brightness(98%) contrast(50%);
}

.prev, .next {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.prev {
    left:36.4%;
}

.next {
    right: 36.2%;
}
.prev:hover img{
    filter: brightness(0) saturate(20%) invert(14%) sepia(52%) saturate(5028%) hue-rotate(3deg) brightness(98%) contrast(80%);
}
.next:hover img{
    filter: brightness(0) saturate(20%) invert(14%) sepia(52%) saturate(5028%) hue-rotate(3deg) brightness(98%) contrast(80%);
}


.carousel-thumbnail {
     /* Set width for thumbnails */
    cursor: pointer;
    opacity: 0.3; 
    border-radius: 5px;
}
.carousel-thumbnail:hover{
    opacity: 0.6;
  }


 .carousel-thumbnail.active {
    /* Reduce opacity for active thumbnail */
    opacity: 1;
   
    
}

.carousel-thumbnails {
    display: flex;
    width: 15%;
    gap: 20px;
    
    justify-content: center;
    margin-top: 40px; /* Space between carousel image and thumbnails */
}



@media (max-width: 768px) {
    nav {
        display: none; /* Hide the navigation links */
        flex-direction: column; /* Stack them vertically */
        position: absolute; /* Positioning for dropdown */
        background-color: white; /* Background color */
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        height: 70px;
        z-index: 10; /* Ensure it appears above other elements */
    }
    
    .menu-button {
        display: block;
        margin-right: auto;
        left:0;
        
    }
    header {
        
            padding: 0px;
            margin-left: 7%;
            gap: 150px;
            
    }
    .header-part-2{
        gap: 20px;
    }


    .cart-dropdown {
    top: 59px; 
    left: -130px; 
    
     width:375px;
     z-index: 1;
    }


/* Show navigation when active */
nav.active {
    display: flex;
}

.sidebar {
        position: fixed;
        top: 0;
        left: -300px; /* Initially hidden off-screen */
        width: 250px;
        height: 100%;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease; /* Smooth transition */
        padding: 20px;
        z-index: 1000;
        display: block;
        
    }

    .sidebar nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .close-sidebar {
        cursor: pointer;
        margin-bottom: 20px;
    }

    /* Show the sidebar when active */
    .sidebar.active {
        left: 0; /* Bring sidebar into view */
        opacity: 1; /* Make it visible */
        pointer-events: auto;
        margin-right:120px;

    }

    #line-separator{
        display: none;
    }
    #carouselImage{
        
        width: 100%;
    }
    
    .carousel{
        display: block;
        width: 485px;
        height: 350px;
        left: 1;
        top: 80px;
        z-index: 0;
        border-radius: 0;
        position: absolute;
        padding: 0px;
    }
    .carousel-thumbnails{
        display: none;
    }
    .prev{
        left: 0;
        top: 220px;
    }
    .next{
        right: 0;
        top: 220px;
    }
    .product-image{
        display: none;
    }
    
    .product-details{
        padding-left: 30px;
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        
    }
    .product-details p{
        font-size: 18px;
        padding: 0px;
    }
    .product-details h4{
        font-size: 20px;
    }
    .product-details h1{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .price{
        display: flex;
        flex-direction: row;
        gap: 100px;
        margin-bottom: 30px;
    }
    .quantity-selector-main{
        flex-direction: column;
        gap: 10px;
    }
    .quantity-selector button {
        
        width: 200px;
        height: 70px;
        padding: 5px;
        
    }
    
    .quantity-selector input {
        
        width: 200px;
        height: 70px;
        font-size: 18px;
        
    }
    .add-to-cart{
        width: 365px;
        height: 70px;
        margin-bottom: 20px;
    }


}